<h1>Mypage</h1>
<div>
  <p>ニックネーム:<%= @user.name %></p>
  <p>メールアドレス:<%= @user.email %></p>
  <p>お気に入りのしおり</p>
  <div>
    <% if @favorite_list.present? %>
     <% @favorite_list.each do |itenerary| %>
       <%= itenerary.title %>
     <% end %>
    <% end %>
  </div>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <p><%= link_to "しおり一覧", iteneraries_path %></p>
</div>