<div class="nested-fields schedule-card">
  <p>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>title</td>
          <td><%= f.text_field :schedules_title, class: "form" %></td>
        </tr>
        <!--<tr>-->
        <!--  <td>date</td>-->
          <!--<td><%= f.date_field :schedules_date, class: "form"  %></td>-->
        <!--</tr>-->
        <tr>
          <td>time</td>
          <td><%= f.datetime_field :schedules_time, class: "form"  %></td>
        </tr>
        <tr>
          <td>comment</td>
          <td><%= f.text_area :schedules_comment, class: "form"  %></td>
        </tr>
        <tr class="text-right">
          <td></td>
          <td><%= link_to_remove_association "", f, class: "far fa-trash-alt fa-lg"%></td>
        </tr>
      </tbody>
    </table>
  </p>
</div>