<div class="nested-fields">
  <%= f.label "日程" %><br>
  <%= f.date_field :schedules_date %><br>
  <%= f.label "時間" %><br>
  <%= f.time_field :schedules_time %><br>
  <%= f.label "タイトル" %><br>
  <%= f.text_field :schedules_title %><br>
  <%= f.label "コメント" %><br>
  <%= f.text_area :schedules_comment %><br>
  <%= link_to_remove_association "削除", f %>
</div>