<div class="container itenerary pb-5">
  <div class="row">
    <div class="col-md-5">
      <h1>Create Itenerary</h1>
    </div>
  </div>
  <hr class='divider'>
  <%= form_with model: @itenerary, local:true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <h2 class="pt-5">Title</h2>
    <div class="row">
      <div class="col-md-3">
        <p><%= f.text_field :title, :placeholder => "title", class: "form" %></p>
      </div>
    </div>
    <h2 class="pt-5">Packing List</h2>
    <div class="row">
      <div class="col-md-5">
        <div>
          <%= f.fields_for :belongings do |belongings| %>
            <%= render "belonging_fields", f: belongings %>
          <% end %>
        </div>
        <div class="links mt-2">
          <%= link_to_add_association 'add', f, :belongings, class:"btn btn-outline-dark" %>
        </div>
      </div>
    </div>
    <h2 class="pt-5">Schedule</h2>
    <div class="row">
      <%= f.fields_for :schedules do |schedules| %>
        <%= render "schedule_fields", f: schedules %>
      <% end %>
      <div class="links text-center mt-5 d-flex align-items-end">
        <%= link_to_add_association 'add', f, :schedules, class:"btn btn-outline-dark mx-5 my-5" %>
      </div>
    </div>
    <h2  class="pt-5">Tag</h2>
    <div class="row">
      <div>
        <%= f.text_field :tag_name, value: @tag_list, class: "form"  %><br>
        <p>※,(半角コンマ)を入力することで複数のタグをつけることができます。<br>例：夏,海,旅行</p>
      </div>
    </div>
    <h2  class="pt-5">edit Password</h2>
    <div class="row">
      <%= f.password_field :edit_password, class: "form"  %>
    </div>
    <div class="row">
      <%= f.submit 'Done', class:"btn-lg btn-outline-dark mx-5 my-5" %>
    </div>
  <% end %>
</div>