<div class="container itenerary pb-5">
  <div class="row">
    <div class="pt-5 mx-auto">
      <h1 class="itenerary-title"><%= @itenerary.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-7 mx-auto">
      <h2 class="pt-5">Schedule</h2>
      <% @schedules.each do |date,schedules| %>
        <div class=" oneday mt-4 mb-4">
          <div class="mr-auto"><%= date %></div>
        </div>
        <% schedules.each do |schedule| %>
          <div class="schedule-card">
            <i class="far fa-clock"></i>
            <% unless schedule.schedules_time.nil? %>
              <%= schedule.schedules_time.strftime("%H:%M") %><br>
            <% end %>
            <i class="fas fa-map-marker-alt"></i>
            <%= schedule.schedules_title %><br>
            <%= schedule.schedules_comment %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-3 mx-auto">
      <div class="container">
        <div class="pt-5">
          <h2>Packing List</h2>
          <% @belongings.each do |belonging| %>
            <li><%= belonging.belongings_name %></li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="pt-5">Album</h2>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <% @albums.drop(1).count.times do |index| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="#{index}"></li>
          <% end %>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <% @albums.first(1).each do |image| %>
              <%= image.albums_comment %>
              <%= attachment_image_tag image, :image, class: "carousel_image"  %>
            <% end %>
          </div>
          <% @albums.drop(1).each do |image| %>
            <div class="carousel-item">
              <%= image.albums_comment %>
              <%= attachment_image_tag image, :image, class: "carousel_image" %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="pt-5">Shared URL</h2>
      <%= request.url %>
    </div>
  </div>
  <div class="row text-center">
    <%= link_to 'edit', edit_itenerary_path(@itenerary), class:"btn-lg btn-outline-dark mx-auto my-5 container-fluid" %>
  </div>
  <p class="mt-5"><%= link_to "Itenerary List", iteneraries_path %></p>
</div>