<!DOCTYPE html>
<html>
  <head>
    <title>Tabinotomo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='bg-header bg-info'>
      <nav class='navbar navbar-expand-md' style='height: 140px'>
        <div class='container'>
          <a href="/">
            <img class="header-logo" src=<%= asset_path('logo.png') %> width="120" height="120">
          </a>
          <div>
            <ul class="navbar-nav ml-auto">

              <% if user_signed_in? %>
                <li><%= link_to 'About', about_path, class:'nav-link text-body mr-1' %></li>
                <li><%= link_to 'Create Itenerary', new_itenerary_path, class:'nav-link text-body mr-1' %></li>
                <li><%= link_to 'Mypage', users_my_page_path, class:'nav-link text-body mr-1' %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'nav-link text-body' %></li>
              <% else %>
                <li><%= link_to 'about', about_path, class:'nav-link text-body mr-1' %></li>
                <li><%= link_to 'Create Itenerary', new_itenerary_path, class:'nav-link text-body mr-1' %></li>
                <li><%= link_to 'Sign up', new_user_registration_path, class:'nav-link text-body mr-1' %></li>
                <li><%= link_to 'Log in', new_user_session_path, class:'nav-link text-body' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    <%= render 'layouts/footer' %>
    </main>
  </body>
</html>